
<div class="outer-container">
  <div class="inner-container">
    <div class="logo"><img src="assets/images/logo-1.png" class="logo-image"><span class="mrkv">MRK V.</span></div>
    <div class="top-buttons">
      <div class="top-buttons-wrap">
        <button class="left-buttons">Load</button>
        <button class="left-buttons" (click)="main.clearNotes()">Clear</button>
      </div>
      <div class="top-buttons-wrap instruments">
        <button class="bar instrument instrument-top" (click)="activateInstrument('square')">Chiptune</button>
        <button class="bar instrument instrument-top" (click)="activateInstrument('sine')">Sine</button>
        <button class="bar instrument instrument-top" (click)="activateInstrument('triangle')">Triangle</button>
        <button class="bar instrument instrument-top" (click)="activateInstrument('saw')">Sawtooth</button>
        <button class="bar instrument" (click)="activateInstrument('doot')">Doot</button>
        <button class="bar instrument" (click)="activateInstrument('pluck')">Pluck</button>
        <button class="bar instrument" (click)="activateInstrument('poot')">Poot</button>
        <button class="bar instrument" (click)="activateInstrument('drums')">Drums</button>
      </div>
      <div class="top-buttons-wrap">
        <button class="bar">Add Bar</button>
        <button class="bar">Delete Bar</button>
      </div>
    </div>
    <div class="top">

    </div>
    <div id="sequencer"></div>
    <div class="footer">
      <div class="button-holder">
        <button (click)="main.playPause(); buttonToggleName()">
          {{buttonToggleNameValue()}}
          <!-- <div (click)="buttonToggle()" id="play-pause" class="play"></div> -->
          </button>
        <button (click)="main.stop()">Stop</button>
      </div>

      <!-- <div id="eqcontainer">
        <input type="range" min="1" max="50" value="25" class="slider eq" id="eq-bass" orient="vertical">
        <input type="range" min="1" max="50" value="25" class="slider eq" id="eq-mid" orient="vertical">
        <input type="range" min="1" max="50" value="25" class="slider eq" id="eq-treble" orient="vertical">
      </div> -->


      <div id="slidecontainer">
        <input type="range" min="50" max="200" (change)="main.setTempo(tempo)" [(ngModel)]="tempo" class="slider" id="bpm-slider">
        <div class="slider-marks-container">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="slider-numbers-container">
          <div class="number">50</div>
          <div class="number">100</div>
          <div class="number">150</div>
          <div class="number">200</div>
        </div>
      </div>
      <!-- <button class="button" id="volume"></button> -->
      <div class="volume">
        <input type="text" id="volume-dial" class="dial button" data-min="0" data-max="100" value=100>
        <span id="hiddenVolumeValue" class="hidden"></span>
      </div>
    </div>
  </div>
</div>
